#header_wrapper {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    align-items: center;
}

.logo {
    width: 22rem;
    height: auto;
}

.d_nav {
    display: flex;
}

.d_nav li {
    margin: 0 2.2rem;
    font-size: 1.8rem;
}

.btn_connect {
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    color: white;
    width: 17rem;
    height: 4rem;
    text-align: center;
    cursor: pointer;
}


.active {
    color: #843FE8;
    font-weight: 600;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
}

#nav_mobile {
    position: relative;
    z-index: 6;
}

.nav_mobile__menu {
    padding: .3rem;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.nav_mobile__menu span {
    display: block;
    margin: .4rem 0;
    width: 2.2rem;
    height: .3rem;
    border-radius: 3px;
    background-color: black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.nav_mobile__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #D7D7D7;
    background-color: #fff;
    position: relative;
    z-index: 10;
}

.nav_collapse nav li{
    margin: 2rem 0;
}

.nav_collapse {
    position: absolute;
    left: -3rem;
    right: -3rem;
    padding: 0 3rem 2rem 3rem;
    background-color: #fff;
    z-index: 5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 350ms ease-in-out;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    box-shadow: 0px 15px 8px  rgba(0, 0, 0, 0.327);
}

.toggle_nav {
    transform: translateY(-40rem);
    -webkit-transform: translateY(-40rem);
    -moz-transform: translateY(-40rem);
    -ms-transform: translateY(-40rem);
    -o-transform: translateY(-40rem);
}